
{% extends "index.html" %}
    {% block content %}
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Completo</th>
                <th>Especialidad</th>
                <th>Celular</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in medicos  %}
            <tr>
                <td>{{ medico.id }}</td>
                <td>{{ medico.nombre }}</td>
                <td>{{ medico.especialidad }}</td>
                <td>{{ medico.celular }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        {% endblock %}
